{% extends 'base.html' %}

{% block title %}Product List - Review App{% endblock %}

{% block content %}
    <h2>Product List</h2>
    {% for product in products %}
        <div class="product">
            <h3>{{ product.name }}</h3>
            <p><strong>Brand:</strong> {{ product.brand }}</p>
            <p><strong>Average Cost:</strong> ${{ product.average_cost }}</p>
            <p><strong>Category:</strong> {{ product.category }}</p>
            <p><strong>Release Date:</strong> {{ product.release_date }}</p>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <img src="{{ product.photo.url }}" alt="{{ product.name }} Photo">
        </div>
        <hr>
    {% endfor %}
{% endblock %}